<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Principal</a><span class='divider'>/</span></li>
        <li class='active'>Restablecer contraseña</li>
      </ul>
    </div>
    <div class='inner'>
      <form id='signin_form' class='form-horizontal' action=<%= actionPath  %> method='post'>
        <input type='hidden' name='_csrf' value='<%= csrf %>' />
        <input type='hidden' name='isnew' value='1' />
        <div class='control-group'>
          <label class='control-label'>Con GitHub</label>
          <div class='controls'>
            <button type='submit' class='btn btn-info'>Registrar una nueva cuenta</a>
          </div>
        </div>
      </form>

      <form id='signin_form' class='form-horizontal' action=<%= actionPath  %> method='post'>
        <div class='control-group'>
          <label class='controls'>o</label>
        </div>
        <div class='control-group'>
          <label class='control-label' for='name'>Nombre de usuario</label>
          <div class='controls'>
            <input class='input-xlarge' id='name' name='name' size='30' type='text' />
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='pass'>Contraseña</label>
          <div class='controls'>
            <input class='input-xlarge' id='pass' name='pass' size='30' type='password' />
          </div>
        </div>
        <input type='hidden' name='_csrf' value='<%= csrf %>' />
        <div class='form-actions'>
          <input type='submit' class='btn' value='Viejas cuentas asociadas' />
        </div>
      </form>
    </div>
  </div>
</div>
