<div id='sidebar'>
</div>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Todas las etiquetas</span>
    </div>
    <div class='inner'>
      <% if(locals.tags && tags.length > 0 ){ %>
      <table class='table'>
        <thead>
          <th>No.</th>
          <th>Nombre</th>
          <th>Editor</th>
          <th>Borrar</th>
        </thead>
        <tbody>
          <%- partial('tag/tag_can_edit',{collection:tags,as:'tag'}) %>
        </tbody>
      </table>
      <% }else{ %>
      <p>Sin clasificar</p>
      <% } %>
    </div>
  </div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Añadir etiquetas</span>
    </div>
    <div class='inner'>
      <% if(locals.edit_error){ %>
      <div class="alert alert-error">	
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= edit_error %></strong>
      </div>
      <% } %>
      <form id='add_tag_form' class='form-horizontal' action='/tag/add' method='post'>
        <legend></legend>
        <div class='control-group'>
          <label class='control-label' for='name'>Nombre</label>
          <div class='controls'>
            <input class='input-xlarge' id='name' name='name' size='30' type='text' />
            <p class='help-block'>Debe ser una combinación de letras y números y caracteres</p>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='order'>No.</label>
          <div class='controls'>
            <select class='span2' name='order'>
              <% if(locals.tags && tags.length >= 0 ){ %>
              <% for(var i=0; i<=tags.length; i++){ %>
              <% if(i != tags.length){ %>
              <option value='<%= i+1 %>'><%= i+1 %></option>
              <% }else{ %>
              <option value='<%= i+1 %>' selected='selected'><%= i+1 %></option>
              <% } %>
              <% } %>
              <% } %>
            </select>
            <p class='help-block'>Haga clic en el número de la ficha Inicio ascendente Ordenar</p>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='background'>Imagen de fondo</label>
          <div class='controls'>
            <input class='input-xlarge' id='background' name='background' size='20'
            type='text' />
            <p class='help-block'>Fondo de la etiqueta Inicio片<p>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='description'>Descripción</label>
          <div class='controls'>
            <textarea class='input-xlarge' id='description' name='description' rows='4'></textarea>
          </div>
        </div>
        <input type='hidden' name='_csrf' value='<%= csrf %>' />
        <div class='form-actions'>
          <input type='submit' class='btn' value='Añadir' />
        </div>
      </form>
    </div>
  </div>
</div>


<% if(locals.current_user){ %>
<script type='text/javascript'>
  $(document).ready(function(){
    $('.delete_tag_btn').click(function(){
      if(confirm('¿Estás seguro de que desea eliminar esta etiqueta？')){
        window.location.href = $(this).attr('href');
      }
      return false;
    });
  });
</script>
<% } %>
