<div id='sidebar'>
  <div class='panel'>
    <% if (locals.current_user) { %>
    <div class='inner'>
      <%- partial('user/card', { object: current_user, as: 'user' }) %>
    </div>
    <% } else { %>
    <div class='inner'>
      <p><%= config.description %></p>
      <div>
        <a href='/signup'><button class='btn'>Registrarte</button></a>
        <span>Si ya tenes cuenta<a class='light' href='/signin'> Ingresa</a></span>
      </div>
    </div>
    <% } %>
  </div>
  
  <% if (locals.current_user) { %>
    <div class="panel">
      <div class='inner'>
        <a href='/topic/create' id='create_topic_btn'>
          <button class='btn btn-success'>Publicar tema</button>
        </a>
      </div>
    </div>
  <% } %>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Temas recientes</span>
    </div>
    <div class='inner'>
      <% if (locals.hot_topics && hot_topics.length > 0) { %>
      <ul class='unstyled'>
      <%- partial('topic/small', { collection: hot_topics, as: 'topic' }) %>
      </ul>
      <% } else { %>
      <p>Vacío</p>
      <% } %>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Temas sin respuesta</span>
    </div>
    <div class='inner'>
      <% if (locals.no_reply_topics && no_reply_topics.length > 0) { %>
      <ul class='unstyled'>
      <%- partial('topic/small', { collection: no_reply_topics, as: 'topic' }) %>
      </ul>
      <% } else {  %>
      <p>Vacío</p>
      <% } %>
    </div>
  </div>

</div>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Principal</a><span class='divider'>/</span></li>
        <% if (locals.tag) { %>
        <li class='active'><%= tag.name %></li>
        <% } else { %>
        <li class='active'>Error</li>
        <% } %>
      </ul>
      <% if (locals.tag) { %>
      <span class='col_fade'><%= tag.description %></span>
      <% } %>
      <% if (locals.current_user) { %>
        <% if (!locals.error) { %>
        <a href='/topic/create'><button class='btn' id='create_topic_btn'>Publicar tema</button></a>
          <% if (!locals.in_collection) { %>
          <button class='btn btn-success' id='collect_btn' action='collect'>Añadir a Favoritos</button>
          <% } else { %>
          <button class='btn' id='collect_btn' action='de_collect'>Cancelar</button>
          <% } %>
        <% } %>
      <% } %>
    </div>

    <% if (locals.error) { %>
    <div class='inner'>
      <div class="alert alert-error" >  
        <strong><%= error %></strong>
      </div>
    </div>
    <% } else { %>
      <% if (locals.topics && topics.length > 0) { %>
      <%- 
      partial('topic/list', { 
        topics: topics, pages: pages, 
        current_pages: current_page, 
        base: '/tag/' + tag.name
      }) %>
      <% } else { %>
      <div class='inner'>
        <p>No hay temas</p>
      </div>
      <% } %>
    <% } %>
  </div>
</div>

<% if (locals.current_user && locals.tag) { %>
<script type='text/javascript'>
$(document).ready(function(){
  $('#collect_btn').click(function() {
    var $me = $(this);
    var action = $me.attr('action');
    var data = {
      tag_id: '<%= tag._id %>',
      _csrf: '<%= csrf %>'
    };
    $.post('/tag/' + action, data, function(data) {
      if (data.status === 'success') {
        if (action === 'collect') {
          $me.html('Cancelar');
          $me.attr('action','de_collect');
        } else {
          $me.html('Añadir a Favoritos');
          $me.attr('action','collect');
        }
        $me.toggleClass('btn-success'); 
      } 
    }, 'json'); 
  });
});
</script>
<% } %>
