<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Markdown Referencia de sintaxis</span>
    </div>
    <div class='inner'>
      <ol>
        <li><tt>### Título</tt></li>
        <li><tt>**Negrita**</tt></li>
        <li><tt>`console.log('Código')`</tt></li>
        <li><tt>```</tt> Marcos</li>
        <li><tt>```js</tt> Etiqueta en el comienzo de la ubicación lenguaje de programación</li>
        <li><tt>[Contenido] (link)</tt></li>
        <li><tt>! [Texto] (enlace de imagen)</tt></li>
      </ol>
      <span><a href='http://www.ituring.com.cn/article/775' target='_blank'>Markdown documentación</a></span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Pase Guide Post</span>
    </div>
    <div class='inner'>
      <ol>
        <li>Los temas importantes a tratar de concentrarse en el título</li>
        <li>Ilustrar adicionalmente el contenido del título, no es necesario</li>
        <li>Seleccione la etiqueta apropiada para el tema puede aumentar la posibilidad de ser leído</li>
      </ol>
    </div>
  </div>

</div>
