<div id='sidebar'>

  <div class='panel'>
    <% if (locals.user || locals.current_user) { %>
      <div class='header'>
        <span class='col_fade'>Información Personal<span>
      </div>
      <div class='inner'>
        <%- partial('user/card',{ object: locals.user || locals.current_user, as: 'user' }) %>
      </div>
      <% } else { %>
      <div class='inner'>
        <p><%= config.description %></p>
        <div>
          您可以
          <a href='/signin'>login</a>
          或
          <a href='/signup'>registro</a>
          , 也可以
          <a href="/auth/github" class="btn btn-info">Entrar con GitHub</a>
        </div>
      </div>
    <% } %>
  </div>

  <% if (locals.current_user) { %>
    <div class="panel">
      <div class='inner'>
        <a href='/topic/create' id='create_topic_btn'>
          <button class='btn btn-success'>Tema nuevo</button>
        </a>
      </div>
    </div>
  <% } %>

  <% if (locals.no_reply_topics) { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Temas sin respuesta</span>
    </div>
    <div class='inner'>
      <% if (no_reply_topics.length > 0) { %>
        <ul class="unstyled">
          <%- partial('topic/small', { collection: no_reply_topics, as: 'topic' }) %>
        </ul>
      <% } else {  %>
        <p>Vació</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (locals.tops) { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Clasificaciones</span>
      &nbsp;
      <a class='dark' href='/users/top100'>TOP 100 &gt;&gt;</a>
    </div>
    <div class='inner'>
      <% if (tops.length > 0) { %>
      <ol>
      <%- partial('user/top', { collection: tops, as: 'user' }) %>
      </ol>
      <% } else { %>
      <p>Vació</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (locals.stars) { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Comunidad sobre</span> &nbsp;
      <a class='dark' href='/stars'>Más »</a>
    </div>
    <div class='inner'>
      <% if (stars.length > 0) { %>
      <ul class='unstyled'>
      <%- partial('user/star', { collection: stars, as: 'user' }) %>
      </ul>
      <% } else { %>
      <p>Vació</p>
      <% } %>
    </div>
  </div>
  <% } %>

</div>
