<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>Principal</a><span class='divider'>/</span></li>
				<li class='active'><%= user.name %></li>
			</ul>
		</div>
		<div class='inner userinfo'>
			<div class='user_big_avatar'>
				<img src="<%= user.avatar_url %>" class="user_avatar" title="<%= user.name %>" />
			</div>
			<% if (locals.current_user && current_user._id != user._id) { %>
				<% if (!locals.relation) { %>
				<button class='btn btn-success follow_btn' action='follow'>Seguir</button>
				<% } else { %>
				<button class='btn follow_btn' action='un_follow'>Dejar de seguir</button>
				<% } %>
			<% } %>
			<a class='dark'><%= user.name %></a>
			<div class='col_fade'>
				<span>
					<img src="<%- config.site_static_host %>/public/images/cert_icon&16.png" />
					<%= user.following_count %> Seguiendo a
					<%= user.follower_count %> Seguidores
					<%= user.score %> Integracion</span>
				<% if (user.signature) { %>
					<span><%= user.signature %></span>
				<% } %>
			</div>
			<div class='user_profile'>
				<ul class='unstyled'>
					<% if (user.url) { %>
					<li>
						<img class='user_icon' src="<%- config.site_static_host %>/public/images/paper_airplane_icon&16.png" />
						<a class='dark' href="<%= user.url %>" target='_blank'><%= user.url %></a>
					</li>
					<% } %>
					<% if (user.location) { %>
					<li>
						<img class='user_icon' src="<%- config.site_static_host %>/public/images/compass_icon&16.png" />
						<span class='col_fade'><%= user.location %></span>
					</li>
					<% } %>
          <% if (user.githubUsername) { %>
          <li>
            <img class='user_icon' src="<%- config.site_static_host %>/public/images/github_icon&16.png" />
            <a class='dark' href="https://github.com/<%= user.githubUsername %>" target='_blank'>
              @<%= user.githubUsername %>
            </a>
          </li>
          <% } %>
					<% if (user.weibo) { %>
					<li>
						<img class='user_icon' src="<%- config.site_static_host %>/public/images/twitter_2_icon&16.png" />
						<a class='dark' href="<%= user.weibo %>" target='_blank'><%= user.weibo %></a>
					</li>
					<% } %>
				</ul>
				<% if (user.profile) { %>
					<p><%= user.profile %></p>
				<% } %>
			</div>
			<p class='col_fade'>于 <%= user.friendly_create_at %> Unirse<%= config.name %></p>
			<% if (locals.current_user && current_user.is_admin) { %>
				<% if (!user.is_star) { %>
				<button class='btn' id='set_star_btn' action='set_star'>Configurar</button>
				<% } else { %>
				<button class='btn' id='set_star_btn' action='cancel_star'>Cancelar</button>
				<% } %>

        <% if (!user.is_block) { %>
          <button class='btn' id='set_block_btn' action='set_block'>Bloquear usuario y borrar sus mensajes</button>
        <% } else { %>
          <button class='btn' id='set_block_btn' action='cancel_block'>Cancelar</button>
        <% } %>

				<br/><br/>
				Email (Seen by Administrator): <a href="mailto:<%= user.email %>"><%= user.email %></a>
				<% if (!user.active) { %>
				<a class='btn' href="/active_account?key=<%- locals.token %>&name=<%= user.name %>" target="_blank">Activar cuenta</a>
				<% } %>
			<% } %>
		</div>
	</div>

	<div class='panel'>
		<div class='header'>
			<span class='col_fade'>Temas publicados recientemente</span>
		</div>
		<% if (locals.recent_topics && recent_topics.length > 0) { %>
		<%- partial('topic/abstract', { collection: recent_topics, as: 'topic' }) %>
		<div class='cell more'>
			<a class='dark' href="/user/<%= user.name %>/topics">Ver mas»</a>
		</div>
		<% } else { %>
		<div class='inner'>
			<p>No hay temas</p>
		</div>
		<% } %>
	</div>

	<div class='panel'>
		<div class='header'>
			<span class='col_fade'>Participo en</span>
		</div>
		<% if (locals.recent_replies && recent_replies.length > 0) { %>
		<%- partial('topic/abstract', { collection: recent_replies, as: 'topic' }) %>
		<div class='cell more'>
			<a class='dark' href="/user/<%= user.name %>/replies">Ver más »</a>
		</div>
		<% } else { %>
		<div class='inner'>
			<p>No hay temas</p>
		</div>
		<% } %>
	</div>
</div>

<% if (locals.current_user) { %>
<script>
	$(document).ready(function () {
		$('#set_star_btn').click(function () {
			var $me = $(this);
			var action = $me.attr('action');
			var params = {
				user_id: '<%= user._id %>',
				_csrf: '<%- csrf %>'
			};
			$.post('/user/' + action, params, function (data) {
				if (data.status === 'success') {
					if (action === 'set_star') {
						$me.html('Cancelar');
						$me.attr('action','cancel_star');
					} else {
						$me.html('Configurar');
						$me.attr('action','set_star');
					}
				}
			}, 'json');
		});

    $('#set_block_btn').click(function () {
      var $me = $(this);
      var action = $me.attr('action');
      var params = {
        _csrf: '<%- csrf %>',
        action: action
      };
      if (action === 'set_block' && !confirm('Claro que para proteger al usuario hacer? Esta operación no es reversible y se eliminarán todos los temas del usuario y responder！')) {
        return;
      }
      $.post('/user/<%- user.name %>/block', params, function (data) {
        if (data.status === 'success') {
          if (action === 'set_block') {
            $me.html('Desbloquear usuario');
            $me.attr('action', 'cancel_block');
          } else if (action === 'cancel_block') {
            $me.html('Bloquear usuario');
            $me.attr('action', 'set_block');
          }
        }
      }, 'json');
    })
	});
</script>
<% } %>
