<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>Principal</a><span class='divider'>/</span></li>
				<li class='active'>Top100 Clasificaciones</li>
			</ul>
		</div>
		<div class='inner'>
			<% if(locals.users && users.length > 0){ %>
			<table class='table table-condensed table-striped'>
				<thead>
					<th>#</th>
					<th>nombre de usuario</th>
					<th>Fans</th>
					<th>Mensajes</th>
					<th>integración</th>
				</thead>
				<tbody>
				<%- partial('user/top100_user',{collection:users,as:'user'}) %>			
				</tbody>
			</table>
			<% }else{ %>
			<p>Sin usuarion</p>	
			<% } %>
		</div>
	</div>	
</div>
