<% if (message.has_read) { %>
	<div class='cell' message_id='<%= message._id %>'>
<% } else { %>
	<div class='cell message' message_id='<%= message._id %>'>
<% } %>
	<% if(message.type == 'reply'){ %>
		<span>
			<a href="/user/<%= message.author.name %>" target='_blank'><%= message.author.name %></a> 
			Responder al tema 
			<a href="/topic/<%- message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%= message.topic.title %></a>
		</span>
	<% } %>
	<% if(message.type == 'reply2'){ %>
		<span>
			<a href="/user/<%= message.author.name %>" target='_blank'><%= message.author.name %></a> 
			En el tema 
			<a href="/topic/<%= message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%= message.topic.title %></a>
			En respuesta a su respuesta
		</span>
	<% } %>
	<% if(message.type == 'follow'){ %>
	<span>
		<a href="/user/<%= message.author.name %>" target='_blank'><%= message.author.name %></a> 
		La preocupación que 
	</span>
	<% } %>
	<% if (message.type == 'at'){ %>
		<span>
			<a href="/user/<%= message.author.name %>" target='_blank'><%= message.author.name %></a>
			En el tema
			<a href="/topic/<%= message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%= message.topic.title %></a>
			El @ te
		</span>
	<% } %>

	<% if (message.has_read) { %>
	<span class="marked_icon"><img src='<%- config.site_static_host %>/public/images/checkmark_icon&16.png' title='El mensaje ha sido leído'/></span>
	<% } else { %>
	<span class="marked_icon mark_read_btn">
		<img class='unread'
		  src='<%- config.site_static_host %>/public/images/checkmark_icon&16.png'
		  title='El mensaje ha sido leído'
		/>
	</span>
	<% } %>
</div>
