<%- partial('editor_sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ol class='breadcrumb'>
        <li><a href='/'>Principal</a><span class='divider'>/</span></li>
        <li class='active'>Editar mensaje</li>
      </ol>
    </div>
    <div class='inner post'>
      <% if(locals.edit_error){ %>
      <div class="alert alert-error"> 
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= edit_error %></strong>
      </div>
      <% } %>
      <% if(locals.error){ %>
      <div class="alert alert-error" >  
        <strong><%= error %></strong>
      </div>
      <% }else{ %>
      <form id='edit_reply_form' action='/reply/<%= reply_id %>/edit' method='post'>
        <fieldset>
          <div class='markdown_editor in_editor'>
            <div class='markdown_in_editor'>
              <textarea class='editor' name='t_content' rows='20'
                placeholder='Puede responder usando Markdown'
                autofocus
                ><%= locals.content || '' %></textarea>
              <div class='editor_buttons'>
                <button class='btn action_preview'>Vista previa</button>
                <button id='submit_btn' type="submit" class='btn'>Responder</button>
              </div>
            </div>
            <div class='markdown_in_preview'>
              <div class='preview'></div>
              <div class='editor_buttons'>
                <button id='submit_btn' type="submit" class='btn'>Responder</button>
                <button class='btn action_modify'>Modificar</button>
              </div>
            </div>
          </div>

          <input type='hidden' name='_csrf' value='<%= csrf %>' />
        </fieldset>
      </form>
    </div>
    <% } %>
  </div>  
</div>

<!-- ajaxupload -->
<!-- markdown editor -->
<%- Loader('/public/topic_edit.min.js')
  .js('/public/libs/ajax-upload/ajaxupload.js')
  .js('/public/libs/marked.js')
  .js('/public/javascripts/markdown_editor.js')
  .done(assets, config.site_static_host, config.mini_assets)
%>
