<%- partial('sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Principal</a><span class='divider'>/</span></li>
        <li class='active'>Acerca d</li>
      </ul>
    </div>
    <div class='inner topic'>
      <h3>Acerca de</h3>
      <hr />
      <div class="topic_content">
      <p>CNodeJS.org Node.js es la comunidad de la tecnología de código abierto más profesional, se ha comprometido a la investigación tecnológica Node.js。</p>
      <p>Comunidad cNodo por un grupo de ingenieros técnicos aman Nodo inició, la actual Internet ha atraído a diversos tipos de personal profesional y técnico para unirse a la compañía, y damos la bienvenida a más de Nudo amigos interesados ​​a unirse a nosotros (enviar un correo electrónico a <a href='mailto:nodejs@126.com'>nodejs@126.com</a>）。</p>
      </div>
    </div>
  </div>  
</div>
