<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>Prinpal</a><span class='divider'>/</span></li>
				<li class='active'>FAQ</li>
			</ul>
		</div>
		<div class='inner topic'>
			<h3>FAQ</h3>
			<hr />
			<div class="topic_content">
			<p>A：¿Cuál es la relación entre la comunidad cNode y Nodeclub？</p>
			<p>Q：Node Club es una comunidad de código abierto de los desarrolladores de software hecho en Node.js y MongoDB , cNodo es la comunidad técnica china de nodejs.。</p>
			</div>
		</div>
	</div>	
</div>
